
mat-toolbar {
  background-color: transparent;
  display: flex;
  /* justify-content: right; */
}

.a{
  float: right;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 25px;
}

.tittle{
  float: left;
  margin-left: 80px;
  color: #1976d2;

}
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar a:hover{
  cursor: pointer;
  color: red;
}
